.priority {
    min-width: 0;
    width: 100%;
    max-width: 200px;
    margin: 2px 0;
    cursor: move;
}
pre {
    margin: 2 0;
    color: #5b0481;
    background: rgb(239, 224, 252);
    border-bottom: 1px solid #bb86e9;
    border-left: none;
}
.priority--placeholder pre {
    opacity: 0.4;
}