.priority {
    min-width: 0;
    width: 100%;
    max-width: 200px;
    margin: 2px 0;
    cursor: move;
}
pre {
    margin: 2 0;
    color: #5b0481;
    background: rgb(239, 224, 252);
    border-bottom: 1px solid #bb86e9;
    border-left: none;
    
}
.size1 {height: 40px;}
.size2 {height: 60px;}
.size3 {height: 80px;}
.size4 {height: 100px;}
.size8 {height: 200px;}
.priority--placeholder pre {
    opacity: 0.4;
}